{% extends 'base.html.twig' %}

{% block title %}O'Météo{% endblock %}

{% block body %}
<!-- Content (les pages) -->
            <div class="col-9">

                <h1 class="mb-5">Bienvenue sur la météo des villes !</h1>
            {% for key, weather in citiesWeather %}
                <div id= "cities" class="item item--bg-{{weather.weather}}">
                  
                    <div class="item--city"><a href="{{path('city_weather',{"id": key})}}">{{weather.city}}</a></div>
                    <div class="item--forecast">{{weather.date}} : {{weather.min}}°C /{{weather.max}}°C</div>
                </div>
                {% endfor %}
               

            </div>
 
           
{% endblock %}
